@import './../styles/_variables.scss';

.title {
  // margin: .67em -.67em;
  // margin: 0 -.67em .67em;
  margin: 0 0 .67em;
  background: #ece5de;
  padding: 22px 30px;
  font-weight: 300;
  font-size: 25px;
  background: rgba(119, 89, 14, 0.1);
  color: #827a69;
  font-weight: 100;
  font-size: 40px;

  @media all and (max-width: 768px) {
    text-align: center;
  }
}

.content {
  padding: 15px 15px;
}