$fontHeader: 'Heebo', 'serif', 'sans-serif';
$fontBody: 'David Libre', 'serif', 'sans-serif';
$fontMenu: 'Heebo', serif;

$color0: #ffffff;
$color1: #000000;
$color2: #383838;
$color3: #ece5de;
$color4: #837b6a;
$color5: #d6d0c2;

$direction: rtl;
