@import url('https://fonts.googleapis.com/css?family=David+Libre|Heebo|Lora|Merriweather');
@import './variables.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $color1;
  direction: rtl;
  padding: 0;
  margin: 0;
}