@import './../../styles/_variables.scss';

.wrapper {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
}

.contactHeader {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 20%;
  font-size: 14px;
  background: $color4;
  color: $color0;
  line-height: 1.1;
  @media all and (max-width: 768px) {
      // padding: 14px 50%;
  }
  > div {
    display: inline-block;
    white-space: nowrap;
    a {
      font-size: 15px;
      font-weight: 700;
      color: #fff;
      padding: 0 2px;
    }
  }
}

