@import './../../styles/_variables.scss';

.wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 220px;
  background: $color4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @media all and (max-width: 768px) {
    height: 600px;
    // justify-content: flex-start;
  }
  @media all and (max-width: 768px) {
    flex-direction: column;
  }
}

.column {
  color: $color0;
  white-space: nowrap;
  @media all and (max-width: 768px) {
    padding: 0px 0px 30px;
  }
  h5 {
    font-size: 20px;
    font-weight: 100;
    // text-decoration: underline;
    background: rgba(0, 0, 0, .4);
    padding: 5px 8px 5px;
    min-width: 180px;
    margin: 8px 0;
    @media all and (max-width: 768px) {
      padding: 5px 50px 5px 0;
    }
  }
}

.menu {
  padding: 0 5px 0 0;
  margin: 0;
  color: $color0;
  @media all and (max-width: 768px) {
    padding: 0 55px 0 0;
  }
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.8;
    > * {
      color: inherit;
      & a {
        text-decoration: underline;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
