.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 1.0875rem 100px;
  &:after {
    content: "...";
    text-align: center;
    width: 100%;
    display: block;
    font-size: 50px;
  }
  // padding-top: 0;
  @media all and (max-width: 768px) {
    padding: 20px 1.0875rem 60px;
  }
}
//{ margin: '3rem auto', maxWidth: 600 }